.nav {
     margin-left: 88px;
  @media screen and (min-width: 1199px){
      margin-left: 93px;

  }
 @media screen and (min-width: 767px) {
display: flex; }
}


.nav__list {
  display: none;
  @media screen and (min-width: 767px){
      display: flex;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
      font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color var(--animation-hover);
  color: var(--main-txt-color);
  position: relative;
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  opacity: 0;
  transition: opacity var(--animation-hover);
}
&:hover:after {
  opacity: 1;
}
@media screen and (min-width: 767px){
  font-size: 14px;
}
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link.nav__link--current::after {
  opacity: 1;
}




