.mobile-overlay__menu {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--white-color);
  transition: opacity var(--animation-hover), visibility var(--animation-hover);
  &.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile-overlay__container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  height: 100%;
  width: 100%;
  padding: 48px 40px;
  .mobile-overlay__menu.is-open & {
    transform: translateX(100%);
  }
  .mobile-overlay__menu.is-open & {
    transform: translateX(0);
    transition: transform var(--animation-hover);
  }
  @media screen and (min-width: 479px) {
    padding: 48px 40px;
  }
}
.mobile-overlay__btn {
  position: absolute;
  top: 21px;
  right: 25px;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: auto;
  transform: color var(--animation-hover);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-overla__icon {
  width: 40px;
  height: 40px;
  transition: fill var(--animation-hover);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.nav-overlay__item:not(:last-child) {
  margin-bottom: 30px;
}
.nav-overlay__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}
.nav-overlay__link--current {
  color: var(--accent-color);
}
.overlay__bottom {
  margin-top: auto;
}
.contacts-overlay__tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  color: var(--accent-color);
  letter-spacing: 0.02em;
}
.contacts-overlay__item:first-child {
  margin-bottom: 32px;
}
.contacts-overlay__item:last-child {
  margin-bottom: 64px;
}
.contacts-overlay__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.reference-overlay__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.reference-overlay__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.reference-overlay__item:not(:last-child) .reference-overlay__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.button__mobile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.button-mobile__icon {
  width: 40px;
  height: 40px;
  fill: var(--main-txt-color);
}
